body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* Additional styles */
  background-image: linear-gradient(to bottom, #ADD8E6, white, #ADD8E6);
  color: #00060d;
  line-height: 1.5;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  /* Adjust the styles for screens up to 600px wide */
  body {
    font-size: 16px; /* Adjust the font size */
    line-height: 1.2; /* Adjust the line height */
  }
}
